@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    font-family: Roboto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    color: #F9faf8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px 0px 0px 0px;
    padding: 20px 200px 50px 200px;
    height: 460px;
}

.button {
    padding: 8px;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    padding-left: 10px;
}

.links {
    display: flex;
    gap: 30px;
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.hero-main {
    font-size: 48px;
    color: #F9FAF8;
    display: flex;
    flex: 1;
    padding: 10px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 15px;
}

.hero-secondary {
    padding: 0px 10px 10px 10px;
    font-size: 20px;
    color: #E5E7EB;
    font-weight: 100;
}

.hero-img {
    padding: 20px 0px 20px 20px;
}

.top {
    height: 40px;
    width: 130px;
    border: none;
    font-size: 18px;
}

.info {
    background-color: #FFF;
    color: #1f2937;
    margin: 0px 0px 0px 0px;
    padding: 20px 200px 150px 200px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 20px;
    text-align: center;
    flex-wrap: wrap;
}

.why {
    font-size: 30px;
    font-weight: 900;
    flex: 1;
    padding-top: 30px;
}

.container-thumb {
    display: flex;
    flex: 1;
    gap: 40px;
}

.thumb {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex: 1;
}

.caption {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0px;
    color: #1f2937;
    flex: 1;
    width: 195px;
}

.quote {
    background-color: #E5E7EB;
    color: #1f2937;
    margin: 0px 0px 0px 0px;
    padding: 10px 350px 10px 350px;
    height: 410px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 36px;
    flex-wrap: wrap;
    font-style: italic;
    font-weight: 100;
}

.author {
    font-weight: 900;
    text-align: right;
    font-size: 26px;
    font-style: normal;
  }

.action {
    background-color: #FFF;
    margin: 0px 0px 0px 0px;
    padding: 10px 70px 10px 70px;
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.button-container {
    background-color:#1F2937;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
    width: 1020px;
    background-image: url("https://ak.picdn.net/shutterstock/videos/3344852/thumb/1.jpg");
}

.button-container-left {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 20px;
}

.beta {
    font-weight: 900;
}

.button-bottom {
    display: flex;
    align-items: center;
    padding: 50px 50px 50px 50px;
    margin: 0;
    height: 40px;
    width: 130px;
    border: none;
    font-size: 18px;
}

.footer {
    background-color: #1F2937;
    color: #FFF;
    margin: 0px 0px 0px 0px;
    padding: 30px 70px 30px 70px;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 18px;
}

button {
    background-color:deeppink;
    border-radius: 5px;
    border: 1px solid #FFF;
    padding: 5px 5px;
    height: 40px;
    width: 130px;
    font-size: 18px;
}

a {
    text-decoration: none !important;
    color: white;
  }

  img {
    border-radius: 10%;
    object-fit: cover;
  }